@model IlseLeijten.Models.LinksViewModel

@foreach (var item in Model.Links)
{
    <div>
        <div class="link">
            @Html.DisplayFor(modelItem => item.Caption)
        </div>
        <div>
            <a href="@Html.DisplayFor(modelItem => item.Address)">@Html.DisplayFor(modelItem => item.Address)</a>
        </div>
    </div>
}
